@font-face {
    font-family: 'BrandonText';
    src: url('../fonts/BrandonText-Thin.otf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrandonText';
    src: url('../fonts/BrandonText-Light.otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrandonText';
    src: url('../fonts/BrandonText-Regular.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrandonText';
    src: url('../fonts/BrandonText-RegularItalic.otf');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BrandonText';
    src: url('../fonts/BrandonText-Bold.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spoon';
    src: url('../fonts/Spoon-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spoon';
    src: url('../fonts/Spoon-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}